@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Swiper Styles */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #6eb535;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}
.active {
  @apply text-primary;
}
/* END: General styles */

/* Start:  Text Styles */
p {
  @apply text-primary;
}
.h1 {
  @apply text-4xl xl:text-[72px] text-primary xl:leading-[72px] font-extrabold mb-[18px];
}
.h2 {
  @apply text-5xl mb-7 font-bold;
}
.h3 {
  @apply text-xl mb-4 font-semibold;
}
.description {
  @apply text-base xl:text-xl xl:leading-8;
}
/* End Text styles */

/* START: Hero styles */
.hero {
  @apply flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold text-primary;
}

.hero__subtitle {
  @apply text-[27px] text-primary font-light mt-5;
}

.hero__image-container {
  @apply flex justify-end items-end w-full xl:min-h-[590px];
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px];
}

.hero__image-overlay {
  @apply absolute xl:-top-[30px] xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-[590px] h-auto overflow-hidden max-h-[590px] bottom-0;
}

@media (min-width: 1300px) {
  .hero__image-overlay {
    @apply xl:-top-[30px] xl:-right-1/2 -right-1/4 xl:h-[590px]  max-h-[590px];
  }
}

/* END: Hero styles */

/* Start: Button Styles  */
.btn {
  @apply rounded-[20px] w-full uppercase font-medium text-white tracking-[2px] text-[17px] flex justify-center items-center transition-all duration-300;
}
.btn-sm {
  @apply h-14;
}
.btn-lg {
  @apply h-16;
}
.btn-cta {
  @apply bg-primary h-[54px] rounded-[5px] px-4 transition-all duration-300;
}
.btn-primary {
  @apply bg-primary hover:bg-primary-hover;
}
.btn-secondary {
  @apply bg-secondary;
}
/* End: Button Styles  */

/* START: Footer styles */
.footer {
  @apply flex flex-col text-primary  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */
